# Configuración del Asistente de Estudio de Élite
# Renombra este archivo a .env y completa los datos

# Ruta absoluta a tu bóveda de Obsidian (Ej: D:\Obsidian\MiBoveda)
VAULT_PATH=D:\Obsidian\Hamza

# Nombre del curso/máster para organizar las carpetas
COURSE_NAME=Master_IA

# (Opcional) Idioma de preferencia para los resúmenes
STUDY_LANGUAGE=es
